/* 
    Document   : estilo
    Created on : 28/06/2012, 05:08:00 PM
    Author     : ddelacruz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

*{
    margin: 0;
}

body{
    background: #91BE3F;
    color: white;
    font-family: Arial;
    font-size: 14px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}
header{
    background: wheat;
    display: inline-block;
    padding: 10px;
    width: 100%
    
}

.topHeader{
    margin-top: 0;
    background: black;
    height: 10px;
}